.fs-14{
    font-size: 14px;
}
.fs-16{
    font-size: 16px;
}
.fs-18{
    font-size: 18px;
}
.fs-20{
    font-size: 20px;
}
.fs-22{
    font-size: 22px;
}
.fs-24{
    font-size: 24px;
}
.fs-38{
    font-size: 38px;
}
.fs-45{
    font-size: 45px;
}

.main-btn{
    background-color: #2C3B84;
    color: white;
    border-radius: 100px;
    padding: 12px 25px;
}

.btn{
    background-color: violet;
}
.name{
    font-size: 25px;
}